@charset "UTF-8";

/*Cores portfolio
#FFF6D5 branco rosado
#774EFF roxo claro
#1E005B roxo escuro
#E2E1FF azul acinzentado
##da5095 rosa
 */


/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lexend+Mega:wght@100..900&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

body {
    display: block;
    background-color: #FFF6D5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;

}

header {

    background-color: #774EFF;
    padding: 28px 8%;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    border-bottom: solid 1px #807e798a;
    display: flex;
    flex: auto;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    z-index: 1;



}

nav {
    display: flex;
    background-color: #774EFF;
    flex-flow: row wrap;
    align-self: center;
    position: fixed;
    right: 100px;
    gap: 20px;


}

nav>a {
    color: #FFF6D5;
    font-size: 1em;
    padding: 5px;
    text-align: center;
    text-decoration: none;


}

nav>a:hover {
    color: #da5095;
    transition: 0.8s;
    text-decoration: underline;


}

nav>a.active {
    color: #1E005B;
    font-weight: bolder;
}


nav>a#github:hover {
    color: #FFF6D5;
    transition: 0.8s;
    color: #da5095;
}

.aboutme {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

img#inicio {
    position: relative;
    right: 100px;
    bottom: 5px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    width: 250px;
    height: 300px;
    margin-top: 50px;

}

h1 {
    display: flex;
    position: relative;
    left: 110px;
    top: 110px;
    color: #774EFF;
    font-family: "Gluten";
    padding: 10px;
    font-size: 3.5em;
    margin: 10px;
    gap: 5px;

}

p#down {
    text-align: center;
    position: relative;
    bottom: 70px;
    color: #da5095;
}

p#aboutme {
    display: flex;
    font-size: 1.3em;
    justify-content: center;
    position: relative;
    bottom: 180px;
    right: 200px;
    padding: 10px;
    font-family: "Comfortaa";
    color: #343435;
}

p#aboutme2 {
    display: flex;
    justify-content: center;
    color: #343435;
    font-size: 1em;
    position: relative;
    bottom: 178px;
    right: 124px;
    font-family: "Comfortaa";


}

.btncontact {
    display: flex;
    justify-content: center;
    position: relative;
    left: 345px;
    bottom: 170px;
    background-color: #E2E1FF;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 1px 0px #da5095;

}

.btncontact>h2>a {
    text-decoration: none;
    color: #774EFF;

}

.btncontact>h2>a:hover {
    color: #da5095;
    transition: 0.6s;
}

span.material-symbols-outlined {
    vertical-align: middle;
    color: #da5095;


}

h2#descript {
    color: #774EFF;
    font-size: 2.5em;
    text-align: center;
    position: relative;
    right: 20px;
    margin-bottom: 20px;

}

p#descript {
    color: #343435;
    text-align: center;
    font-family: "Comfortaa";
    line-height: 1.5em;
}

.btncurriculo {
    display: flex;
    position: relative;
    left: 810px;
    margin-top: 20px;
    background-color: #E2E1FF;
    justify-content: center;
    color: #774EFF;
    width: 150px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 1px 0px #da5095;

}

.btncurriculo>a {
    text-decoration: none;
}

.skills {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}

h3 {
    color: #774EFF;
    font-size: 2.5em;
}

p#skills {
    font-family: "Comfortaa";
    margin-top: 10px;
}

#iconstec {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}

.projetos {
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}

h4#projetos {
    font-size: 2.5em;
    color: #774EFF;

}

p#projetos {
    font-family: "Comfortaa";
}
#imgprojetos {
    display: flex;
    justify-content: center;

}

footer {
    background-color: #1E005B;
    text-align: center;
    margin-top: 10px;
    color: #E2E1FF;
}