@charset "UTF-8";

/*Cores portfolio
#efe6dc brancomeioacinzentado
#CAA19C rosa
#AB482D marrom
#7B786B cinza
black */

/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');






*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

body {
    background-color:#efe6dc;
    width: 100%;
    font-family: "Poppins", sans-serif;
    
    
}

header#conteiner {
  
  background-color: #CAA19C;
  padding: 28px 8%;
  width: 100%;
  border-bottom: solid 1px #807e798a;
  border-radius: 2px;
  display: flex;
  flex: auto; 
  justify-content:flex-end;
  height: 20px;


}
img#iconola { 
    
    width: 5%;
    padding: 2px;   
}

div#ola {
    display: flex;
    flex-direction: column;
    align-items: self-start;   
    margin-top:3%;
    margin-left:7%;
    margin-bottom: 3%;
    
}

button:hover {
    background-color: #2423213d;
    color: #7B786B;
    transform: scale(1.1)
}



h1 {
    display: flex;
    color: #CAA19C;
    text-align: center;
    font-family: "Chilanka", cursive;
    font-size: 2.4em;
    gap: 1rem;
    
    
    
}
.p1n {
    color: #7B786B;
    line-height: 1.1em;
    font-size: 1.2em;
    text-align: center;
      
  
}


nav {
    flex-flow: row wrap; 
    align-self: center;
         
}

nav> a {
    color: #efe6dc;
    font-size: 0.8em;
    gap: 48px;
    padding: 5px;
    text-align: center;
    text-decoration: none;   
    

}

nav > a:hover {
    color: #7B786B;
    transition: 0.8s;
    text-decoration:underline;
    
    
}
nav > a#github {
    color:#7B786B;    
    padding: 8px;
}
nav > a#github:hover {
    color: #efe6dc;
    transition: 0.8s;
}

.p2n {
 color: #7B786B;
    line-height: 1.1em;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.9em;
    overflow-wrap: normal;
    

    
}

hr {
    text-align: center;
    height: 1px;
    border: 0px;
    border-top: 1px solid #AB482D;
    background-color: #dddddd;
    line width: 50%;
    height: 1px;
    
    
}

div#sobre {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-evenly;
    
}

h2#sobre, h2#skills {
    background-color: #CAA19C;
    color: #efe6dc;
    font-size: 1.5em;
    font-weight: 300;
    margin-left: 8px;   
    padding: 0 3.5rem;
    width:40%;
    border-radius: 3px;
}
div#skills {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: self-start;

   
} 

h2#sobre:hover, h2#sobre:focus, h2#skills:hover, h2#skills:focus,h2#experiencias:hover, h2#experiencias:focus {
    background-color: #7B786B;
    transition: 1s;
    transform: translateX(5px) scale(1);
    text-shadow: 1px 1px 0px #242322;
}

div#experiencias {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;   
    
}
h2#experiencias {
    background-color: #CAA19C;
    color: #efe6dc;
    font-size: 1.5em;
    font-weight: 300;     
    padding: 0 3.5rem;
    width:40%;
    border-radius: 3px;
    margin: 15px;
}
   

h3#ferramentas {
 font-size: 1em;
}

div#imagemlogos2 {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-start; 

    

    
}

footer {
    color: #7B786B;
    background-color: #CAA19C;
    text-align: center;
   
   
}