@charset "UTF-8";

/*Cores portfolio
#efe6dc brancomeioacinzentado
#CAA19C rosa
#AB482D marrom
#7B786B cinza
black */

/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}

body {
    background-color:#efe6dc;
    width: 100%;
    font-family: "Poppins", sans-serif;
    
    
}

header {
  background-color: #CAA19C;
  padding: 28px 8%;
  width: 100%;
  border-bottom: solid 1px #807e798a;
  border-radius: 2px;
  display: flex;
  flex: auto; 
  justify-content:flex-end;
  height: 20px;

}

img#iconola {
    width: 3.5%;
    padding: 5px;
}
img#iconola:hover {

}
div#ola {
    display: flex;
    justify-content: center;

}
button {
    
    background-color: #CAA19C;
    color: #efe6dc;
    padding: 10px;
    margin: 5px;
    border:none;
    border-radius: 3px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    box-shadow: 0px 0px 2px 2px #44444369;
    cursor: pointer;

}
button:hover {
    background-color: #2423213d;
    color: #7B786B;
    transition: 0.8s;
}



h1 {
    display: flex;
    color: #CAA19C;
    text-align: center;
    
    
    
}


nav {
    flex-flow: row wrap; 
    align-self: center;
         
}

nav> a {
    color: #efe6dc;
    font-size: 0.8em;
    gap: 48px;
    padding: 5px;
    text-align: center;
    text-decoration: none;   
    

}

nav > a:hover {
    color: #7B786B;
    transition: 0.8s;
    text-decoration:underline;
    
    
}
nav > a#github {
    color:#7B786B;    
    padding: 8px;
}
nav > a#github:hover {
    color: #efe6dc;
    transition: 0.8s;
}


.p1n {
    color: #7B786B;
    line-height: 1.1em;
    font-size: 1.3em;
    text-align: center;
    
    
     
  
}
p#p2 {
    color: #7B786B;
    line-height: 1.1em;
    margin-left: 30px;
    font-size: 1.1   em;
    text-align: center;
    overflow-wrap: normal;
}

hr {
    text-align: center;
    height: 1px;
    border: 0px;
    border-top: 1px solid #AB482D;
    background-color: #dddddd;
    line width: 50%;
    height: 1px;
    
    
}


h2#sobre, h2#skills {
    display: flex;
    flex-flow: row wrap;
    background-color: #CAA19C;
    color: #efe6dc;
    justify-content: center;
    margin: 10px;
    align-items: center; 
    border-radius: 3px;
    

}

div#imagemlogos1 {
    display: flex;
    flex-flow: 1 1 100px;
    justify-content:center;
    align-items: center;
    flex-direction: row wrap;
    
}

img#imagemlogos1 {
    transition-delay: 0.5s;
}

h2#sobre:hover, h2#sobre:focus, h2#skills:hover, h2#skills:focus {
    background-color: #7B786B;
    transition: 1s;
    transform: translateX(5px) scale(1);
    text-shadow: 1px 1px 0px #242322;
    
}

div#ferramentas {
    text-align: center;
    color: #AB482D;
    font-size: 1.2em;
    
    
}
footer {
    color: #7B786B;
    background-color: #CAA19C;
    text-align: center;
   
}